<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance list</title>
    <script src="angular.min.js"></script>
    <script src="stu.js"></script>
    <link href="st.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body ng-app="MyApp" style="background-color:rgba( 71, 147, 227, 1);">
    <br>
    <br>
    <div ng-controller="MyCtrl" class="table-wrapper">
       <center> Rows to Display:<input type="number" step="1" min="0" max="4" ng-model="rowlimit" /></center>
        <br \>
        <br \>

       <center> Search:<input type="text" placeholder="Seach students" ng-model="Search" /></center>
        <br \>
        <br \>
        <table  class="fl-table">
            <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>attendance</th>
            </tr>
            <tbody>
                <tr ng-repeat="student in students | limitTo:rowlimit |filter:Search ">
                    <td>{{student.name | uppercase}}</td>
                    <td>{{student.dob | date:"dd/MM/yyyy"}}</td>
                    <td>{{student.gender | lowercase}}</td>
                    <td>{{student.attendance | number:0}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <a href="sub.html">subject attendance</a>
</body>
</html>
