<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studentslist</title>
    <script src="angular.min.js"></script>
    <script src="product.js"></script>
</head>
<center>
<body ng-app="myapp" ng-controller="myctrl">
    <h2>students list</h2>
    <table cellpadding="1" cellspacing="5" border="2">
        <tr>
            <th>Index</th>
            <th>STDID</th>
            <th>NAME</th>
            <th>COUSRE</th>
            <th>OPTIONS</th>
        </tr>
        <tr ng-repeat="product in listProducts">
            <td>{{$index}}</td>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <a href="#" ng-click="delete()">Delete</a> |
            </td>
        </tr>
    </table>
    </center>   
</body>
</html>